* {
    margin: 0;
    padding: 0;
}

//ID
#cargando {
    display: none;
    width: 150px;
}

#loaders {
    img {
        width: 150px;
    }
}

//NAV
nav {
    img {
        width: 100px;
    }
}

//ANIMACION
.scale:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}